body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

    /* Navbar */
.navbar{
    height:5em ;
    background-color:whitesmoke ;
}
.fa-compass{
    color: rgba(0, 72, 253, 0.707);
    font-size: 2em;
}
.nav-link{
   color: black !important; 
}
/* footer */
.f-info-links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.803);
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, 
.f-info-socials,
 .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.8rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: rgba(215, 229, 250, 0.688);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
   border-radius: 1rem !important; 
   width: 100% !important;
   object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text-p{
    font-weight: 400;
}
.card-title{
    font-family:cursive;
}
.listing-link{
    text-decoration: none !important;
}
.card-body{
    color: black !important;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
/* new template */
.add-btn{
    background-color: rgb(255, 60, 0) !important;
    
}
.input-field{
    border-radius: 2% !important;
    border-color: black !important;
}
/* show template */
.show-img{
    height: 30vh;
    

}

